body {
    background: #333;
    color: white
}
p {
    font-size: larger;
}
.button {
    display: inline-block;
    font: bold 1rem Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    margin-top: 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  } 